 <div class="row">
  <div class="col-xs-2 left">
    <img src="<%=track.thumbnail_link%>" class=".thumb" height="70" width="70">
   </div>
   <div class="col-xs-10 left"> 
    <address>
      Track Title: <strong><%= link_to track.title, sc_track_path(track.id)%></strong> <br/>
      Username: <strong><%= link_to track.user.username, sc_user_path(track.user.id)%></strong> <br/>
      Created at: <%= track.created_at%>
    </address>
  </div>
</div>