 <div class="row">
  <div class="col-xs-2 left">
    <img src="<%=user.thumbnail_link%>" class="thumb" height="70" width="70">
   </div>
   <div class="col-xs-10 left"> 
    <address>
      Username: <strong><%= link_to user.username, sc_user_path(user.id)%></strong> <br/>
      Profile: <%= link_to "Sound Cloud Profile", user.permalink_url, target: "_blank"%>
    </address>
  </div>
</div>