 <div class="row">
  <div class="col-xs-2 left">
    <img src="<%=user.thumbnail_link%>" class="thumb" height="70" width="70">
   </div>
   <div class="col-xs-10 left"> 
    <address>
      Username: <strong><%= user.username%></strong> <br/>
      Profile: <%= user.permalink_url%>
    </address>
  </div>
</div>