// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
  margin-bottom: 0 !important;
}

img .thumb{
  max-height: 50px;
  max-width: 50px;
  display: inline-block;
}

.card{
  display: block;
  width: 580px;
  height: 100px;
  padding: 10px;
}